<div class="div-header">
    <div>
        <img class="img-logo" src="/images/logoEwig.png" alt="logo"/>
    </div>
    <div>
        <p class="p-usuario-novedades">Bienvenido {{usuario}} !</p>
        <a class="btn-cerrar-s btn btn-danger" href="/admin/login/logout">
            <i class="icon-logout fa-solid fa-arrow-right-from-bracket"></i>Cerrar Sesión
        </a>
    </div>
</div>
<div class="conteiner-novedades">
    <div class="div-h2">
        <h2 class="h2-novedades">Listado de Novedades</h2>
    </div>
</div>
<div class="div-tabla">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titulo</th>
                {{!-- <th scope="col">Imagen</th> --}}
                <th class="acciones" scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {{#each novedades}}
            <tr>
                <th scope="row">{{id}}</th>
                <td>{{titulo}}</td>
                <td class="div-btn-edit-delete">
                    <a class="btn btn-info" style="margin-right: 10px;" href="/admin/novedades/modificar/{{id}}"><i class="fa-solid fa-pencil"></i></a>
                    <a class="btn btn-danger" href="/admin/novedades/eliminar/{{id}}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<div class="div-listado">
    <a class="btn-nuevo btn btn-success" href="/admin/novedades/agregar"><i class="icon-agregar fa-regular fa-square-plus"></i>Nuevo</a>
</div>